In [1]:
import pandas as pd

In [2]:
movies_metadata_path = 'C:/Users/Mia/Desktop/FINKI/WBS/wbs/data/movies_metadata.csv'
ratings_small_path = 'C:/Users/Mia/Desktop/FINKI/WBS/wbs/data/ratings_small.csv'

In [3]:
movies = pd.read_csv(movies_metadata_path)
ratings = pd.read_csv(ratings_small_path)

In [7]:
movies[:5]

,id,adult,budget,genres,original_language,title,overview,popularity,production_companies,production_countries,revenue,runtime,vote_average,vote_count
0,862,FALSE,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",373554033.0,81.0,7.7,5415.0
1,8844,FALSE,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",262797249.0,104.0,6.9,2413.0
2,15602,FALSE,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",0.0,101.0,6.5,92.0
3,31357,FALSE,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",81452156.0,127.0,6.1,34.0
4,11862,FALSE,0,"[{'id': 35, 'name': 'Comedy'}]",en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",76578911.0,106.0,5.7,173.0

In [8]:
ratings[:5]

   userId  movieId  rating
0       1       31     2.5
1       1     1029     3.0
2       1     1061     3.0
3       1     1129     2.0
4       1     1172     4.0